<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/adminpanel.css">
    <title>Admin Panel</title>
</head>
<body>

    <div class="row body">
        <div class="col-2">
            <div class="sidebar">
                <div class="name">Park-It-Here</div>
                <div class="sidebar-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="/adminpanel">Home</a>
                            </li>
                            <li>
                                <a href="/adminbooking">Booking</a>
                            </li>
                            <li>
                                <a href="/admincontactus">Contact Us</a>
                            </li>
                            <li>
                                <a href="/adminloyaltypoints">Loyalty Points</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="mainbody1">
                <img class="imgback"
                    src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80">

                <div class="main-content">

                    <h3>Welcome to Park-It-Here</h3>

                </div>
            </div>

        </div>
        <form action="/auth/logout" method="POST">
        <input type="submit" value="Logout" class="submit1">
        </form>
      </div>

      
</body>

</html>