<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="loyaltypoints.css" rel="stylesheet">
    <title>Loyalty Points</title>
</head>
<body>
    <h1>Loyalty Points</h1>
    <div class="left">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
          <h2>Rs.25</h2>
          </div>
          <div class="flip-box-back">
          </div>
        </div>
        </div>
    </div>
    <div class="left">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
          <h2>Rs.50</h2>
          </div>
          <div class="flip-box-back">
          </div>
        </div>
        </div>
    </div>
    <div class="left">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
          <h2>Rs.100</h2>
          </div>
          <div class="flip-box-back">
          </div>
        </div>
        </div>
    </div>
    <div class="left">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
          <h2>Premium</h2>
          </div>
          <div class="flip-box-back">
          </div>
        </div>
        </div>
    </div>
    <div class="left">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
          <h2>Platinum</h2>
          </div>
          <div class="flip-box-back">
          </div>
        </div>
        </div>
    </div>
</body>
</html>