<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" type="text/css" href="review.css">
    <script src="review.js"></script>
</head>
<body>
    
    <div class="container">
        <div class="head">
            <h1>Read Customer Reviews</h1>
        </div>
        <ul class="list">
            <li class="gap">
              <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=Brown&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=Light'/>
              <h4 class="font-cond">Charles Joshi</h4>
              <small>Business Man - Sanepa</small>
            </li>
          
            <li class="gap">
              <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortWaved&accessoriesType=Blank&hairColor=Brown&facialHairType=BeardLight&facialHairColor=Blonde&clotheType=BlazerShirt&eyeType=Happy&eyebrowType=UpDown&mouthType=Default&skinColor=Light'/>
              <h4 class="font-cond">John Gurung</h4>
              <small>Recording Artist - Satdobato</small>
            </li>

            <li class="gap">
              <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Wayfarers&hairColor=BlondeGolden&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Blue02&eyeType=Squint&eyebrowType=UpDown&mouthType=Smile&skinColor=Pale'/>
              <h4 class="font-cond">David Dhimal</h4>
              <small>Fund Manager - Hattiban</small>
            </li>

            <li class="gap">
              <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Blank&hairColor=Brown&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Red&eyeType=Default&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=Light'/>
              <h4 class="font-cond">Alisha Thapa</h4>
              <small>Real Estate Dealer - Hattiban</small>
            </li>
          </ul>
    </div>
    
</body>
</html>