<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link href="smartventures.css" rel="stylesheet">
</head>
<body>
    <div class="left">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>Slot No. 1</h2>
          </div>
          <div class="flip-box-back">
            <a href="/booking"><h2>Park-It-Here</h2></a>
          </div>
        </div>
        </div> 

        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>Slot No. 2</h2>
          </div>
          <div class="flip-box-back">
            <a href="/booking"><h2>Park-It-Here</h2></a>
          </div>
        </div>
        </div> 

        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>Slot No. 3</h2>
          </div>
          <div class="flip-box-back">
            <a href="/booking"><h2>Park-It-Here</h2></a>
          </div>
        </div>
        </div>

        <div class="flip-box">
        <div class="flip-box-inner">
              <div class="flip-box-front">
                <h2>Slot No. 4</h2>
              </div>
              <div class="flip-box-back">
                <a href="/booking"><h2>Park-It-Here</h2></a>
              </div>
        </div>
        </div> 

        <div class="flip-box">
        <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2>Slot No. 5</h2>
                </div>
                <div class="flip-box-back">
                  <a href="/booking"><h2>Park-It-Here</h2></a>
                </div>
        </div>
        </div> 
    </div>
    
    <div class="right">
        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>Slot No. 6</h2>
          </div>
          <div class="flip-box-back">
            <a href="/booking"><h2>Park-It-Here</h2></a>
          </div>
        </div>
        </div> 

        <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>Slot No. 7</h2>
          </div>
          <div class="flip-box-back">
            <a href="/booking"><h2>Park-It-Here</h2></a>
          </div>
        </div>
        </div> 

        <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
            <h2>Slot No. 8</h2></a>
            </div>
            <div class="flip-box-back">
              <a href="/booking"><h2>Park-It-Here</h2></a>
            </div>
        </div>
        </div>

        <div class="flip-box">
            <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Slot No. 9</h2>
            </div>
            <div class="flip-box-back">
              <a href="/booking"><h2>Park-It-Here</h2></a>
            </div>
            </div>
        </div> 

        <div class="flip-box">
            <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Slot No. 10</h2>
            </div>
            <div class="flip-box-back">
               <a href="/booking"><h2>Park-It-Here</h2></a>
            </div>
            </div>
        </div> 
    </div>
</body>
</html>