<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="/thankyou.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="card">
		<h1><b>THANK YOU!</b></h1>
		<p>We have received your message</p>
		<p>We will reply to you as soon as possible.</p>
		<h3>THANK YOU FOR STAYING IN TOUCH!</h3>
	</div>
</body>
</html>